@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
	
	<div class="bottom">
		<div>
			<table border="0">
				<tr>
					<td width="700px">
						<font color="#000"> Welcome to  <mark> CSM Hospital </mark>  </font> <br> <br>

					<font color="#000" size="6px"> Best Medical & Health care Needs to Our Patients </font> <br> <br>

To Promote, Restore And Maintain The Health Of All The People We Serve Chhatrapati Shivaji Maharaj Hospital or CSMH has been built by some of the most
eminent Doctors and Social Entrepreneurs. The hospital has state-of-the-art equipments, facilities and amenities.
Besides, an array of experts from the medical world along with specialized medical staff attend to offer diverse needs of a true multi-speciality hospital.
The hospital is designed to deliver high quality holistic medical care in an efficient , friendly environment. <br><br>

<h3>Quality Assurance</h3>
<p> We are committed to quality as an integral part of our total operations with the goal of achieving clinical excellence and patient satisfaction
and safety by continually improving our capability to identify, develop & provide services that are valued by our patients and result in good clinical outcome.</p>
<br><br>
<h3>Mission</h3>
<p> Quality is at the Core of Our Mission
Top-quality healthcare and patient safety are central to everything we do at CSMH<br>
Our mission is to “promote, restore and maintain the health of all the people we serve”<br>
CSMH is committed to provide superior healthcare services of international standards in a comprehensive manner to every
individual with an emphasis on quality, service excellence, empathy and respect.”</p>
<br><br>
<br>
 </td>
					
					
					<td style="padding-left:20px;"> <img src="~/img/about.jpg" width="400px"></td>
				</tr>
			
				
			</table>
		</div>
	</div>
	
	<div class="bottom">
		<div>
			<table border="0">
				<tr>
					<td width="700px">
						<font color="#000">Address </font> <br> <br>

					<font color="#000" size="6px">CSM Hospital</font> <br> <br>

Thane - Belapur Road,<br>  Kalwa Thane,<br>  Maharashtra 400605<br> 


Contact No - 0123456789 <br>
<br> Email: csmh@hospital.com<br><br>


<br>
 </td>
					
					
					<td style="padding-left:20px;"> </td>
				</tr>
			
				
			</table>
		</div>
	</div>