@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<div class="bottom">
		<div>
			<table border="0">
				<tr>
					<td width="700px">
						<font color="#000">------------ </font> <br> <br>

					<font color="#000" size="6px"> CONTACT US </font> <br> <br>

					CSM Hospital
					<br>

					Thane - Belapur Road,<br>  Kalwa Thane,<br>  Maharashtra 400605<br>
					
					<br>
					
					Mob : +91 0123456789
					
					<br>
					<br>
					
					Email : ukh@hospital.com

<br>
<br>
<br>
 </td>
					
					
					<td style="padding-left:20px;"> </td>
				</tr>
			
				
			</table>
		</div>
	</div>