@{
    ViewData["Title"] = "Home Page";
}

	
<div class="text-center" > <br> 
		
    <h1 class="display-4">Welcome To CSM Hospital</h1>
    <div class="middle">
		<p>
			<br> <br>
				
	Health Care Services  <br>
			<font size="5px"> We Care About Your Health </font>
		</p> 
		</div>
	</div>
	
	<div class="bottom">
		<div>
			<table border="0">
				<tr>
					<td width="700px">

   <h4>Team and Specialities </h4> 
<p>Over 150 senior specialties working under various specialty departments.<br />
The hospital harbors some of the best cancer doctors in India. <br />
The hospital also has a separate unit viz Emergency and Acute Care Medicine in which trained Emergency Physicians & Nurses
provide prompt diagnosis, evaluation and treatment of life-threatening medical situations in the shortest possible time.<br />
BLK Bone Marrow Transplant Centre, one of the largest centers in Asia, is accredited with Delhi’s First MUD
(Match Unrelated Donor) Transplant.<br />
Provides the best treatment for laparoscopic surgery for Obesity and Gastrointestinal Cancer.</p>
<br />
<br />

<h4>Infrastructure </h4> 

<p>The modular operation theatres are equipped with three stage air filtration and gas scavenging system to gurantee patient safety.
 <br />
 The hospital also has specialized birthing suites with telemetric foetal monitors that helps in observing the progression of labor.
 The patient's family is also provided with accommodation facilities so that they can stay with the patient. <br />
 Electronic medical records (EMR) with remote-accessibility enabling consultation for distant patients are also available.
 <br />
 Cyberknife VSI, PET CT Scan, Neurovascular Biplane Cath Lab, Nuclear Medicine, Blood Bank, Endpscopy Suites, Bronchoscopy Suites
 and Mammography are some of the notable state-of-the-art equipments that the hospital has.  <br />
 It is also equipped with an advanced building management system.
 <br />
 <br />
 Round the clock kitchen services provides various delicious food to visitors and relatives.
 Accredited from (HFMT) Halal Friendly Services and Halal Food Safety in accordance with Shariah (Islamic) Board Guidelines.</p>
 <br>
			</table>
		</div>
	</div>
</div>

	
